body{
	margin: 0;
	font-size: 35px;
	font-family: sans-serif;
}


#prompt6{
	text-align: center;
}

#prompt6{
	margin-top: 200px;
}

#prompt6 input{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#prompt6 input[id = "name"]{
 margin-left: -50px;
}

#btn {
size: 80px
}
