body{
	margin: 0;
	font-size: 35px;
	font-family: sans-serif;
}


#prompt6{
	text-align: center;
	margin-top: 200px;
}

#prompt6 button[type = "button"]{
  background-color: green;
  cursor: pointer;
  border-radius: 10%;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 10px 10px grey;
}

#prompt6 input{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 10px 10px grey;
}

#prompt6 input[id = "name"]{
 margin-left: -50px;
 margin-bottom: 50px; 
}

#Btn {
height:1000%;
width:50%;
font-size:30%;
background-color:black;
color: white;
border:0;
}
#myBtn {
height:100%;
width:50%;
font-size:30%;
color: white;
background-color:black;
border:0;
}
#btS {
height:50%;
width:50%;
font-size:60%;
color:Black;
background-color:white;
border:0;
text-align: center;


}
